name: "Golden: x86 Retpoline"

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Build binaries
        run: sh test/e2e/x86-retpoline/build.sh

      - uses: actions/upload-artifact@v4
        with:
          name: x86-retpoline-binaries
          path: binaries/
